In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Taunggyi,MM,2021-04-10 15:42:51,20.7833,97.0333,70.34,43,27,3.91
1,1,Cayenne,GF,2021-04-10 15:42:51,4.9333,-52.3333,82.40,89,75,3.44
2,2,Hilo,US,2021-04-10 15:38:56,19.7297,-155.0900,66.20,82,90,4.79
3,3,Port Alfred,ZA,2021-04-10 15:42:52,-33.5906,26.8910,69.78,89,94,7.81
4,4,Leningradskiy,RU,2021-04-10 15:42:52,69.3833,178.4167,-16.80,99,100,2.35

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Percent Wind Speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cayenne,GF,2021-04-10 15:42:51,4.9333,-52.3333,82.40,89,75,3.44
7,7,East London,ZA,2021-04-10 15:42:53,-33.0153,27.9116,75.20,78,0,8.05
11,11,Roebourne,AU,2021-04-10 15:42:54,-20.7833,117.1333,83.61,75,100,13.89
12,12,Grand Gaube,MU,2021-04-10 15:42:54,-20.0064,57.6608,80.01,76,99,7.00
23,23,Acapulco,MX,2021-04-10 15:42:57,16.8634,-99.8901,82.40,65,1,4.03
25,25,Muli,MV,2021-04-10 15:42:58,2.9167,73.5667,83.28,74,53,9.22
28,28,Rikitea,PF,2021-04-10 15:42:58,-23.1203,-134.9692,77.81,74,2,9.66
31,31,Nakodar,IN,2021-04-10 15:42:59,31.1258,75.4733,80.40,14,0,6.35
33,33,Kavieng,PG,2021-04-10 15:43:00,-2.5744,150.7967,78.04,87,100,11.56
36,36,Georgetown,MY,2021-04-10 15:41:31,5.4112,100.3354,84.20,89,40,9.22

In [12]:
preferred_cities_df.count()

City_ID       183
City          183
Country       178
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Cayenne      GF     82.40   4.9333  -52.3333
7   East London      ZA     75.20 -33.0153   27.9116
11    Roebourne      AU     83.61 -20.7833  117.1333
12  Grand Gaube      MU     80.01 -20.0064   57.6608
23     Acapulco      MX     82.40  16.8634  -99.8901
25         Muli      MV     83.28   2.9167   73.5667
28      Rikitea      PF     77.81 -23.1203 -134.9692
31      Nakodar      IN     80.40  31.1258   75.4733
33      Kavieng      PG     78.04  -2.5744  150.7967
36   Georgetown      MY     84.20   5.4112  100.3354

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cayenne,GF,82.40,4.9333,-52.3333,Hôtel Le Dronmi
7,East London,ZA,75.20,-33.0153,27.9116,Tu Casa
11,Roebourne,AU,83.61,-20.7833,117.1333,Harding River Caravan Park
12,Grand Gaube,MU,80.01,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
23,Acapulco,MX,82.40,16.8634,-99.8901,HS Hotsson Smart Acapulco
...,...,...,...,...,...,...
557,Doha,QA,79.00,25.2867,51.5333,Movenpick Hotel Doha
558,Vao,NC,78.08,-22.6667,167.4833,Hotel Kou-Bugny
560,Rawatbhata,IN,86.67,24.9333,75.5833,Bhainsrorgarh Fort Hotel
561,Sola,VU,77.00,-13.8833,167.5500,Leumerus Bungalows
563,Luwuk,ID,78.48,-0.9516,122.7875,Hotel Santika Luwuk

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))