## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('Weather_Database/WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,51.80,40,40,5.75,scattered clouds
1,1,Faya,SA,18.3851,42.4509,66.20,55,0,10.36,clear sky
2,2,Jamestown,US,42.0970,-79.2353,66.00,55,75,9.22,broken clouds
3,3,Hermanus,ZA,-34.4187,19.2345,66.99,85,100,3.00,overcast clouds
4,4,Brigantine,US,39.4101,-74.3646,59.00,100,90,10.36,overcast clouds

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Puerto Ayora,EC,-0.7393,-90.3518,80.60,78,40,11.50,scattered clouds
8,8,Cidreira,BR,-30.1811,-50.2056,88.30,50,6,3.15,clear sky
13,13,Atuona,PF,-9.8000,-139.0333,80.49,77,34,18.50,scattered clouds
15,15,Rikitea,PF,-23.1203,-134.9692,78.24,75,8,11.14,light rain
17,17,Saint-Philippe,RE,-21.3585,55.7679,78.80,73,0,4.61,light rain
21,21,Carnarvon,AU,-24.8667,113.6333,77.00,100,75,13.80,broken clouds
22,22,Faanui,PF,-16.4833,-151.7500,81.30,76,100,11.36,overcast clouds
26,26,Puerto Escondido,MX,15.8500,-97.0667,84.20,74,1,12.66,clear sky
27,27,Lorengau,PG,-2.0226,147.2712,80.87,83,96,13.73,light rain
32,32,Pisco,PE,-13.7000,-76.2167,75.20,60,0,9.22,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
city_data_df.empty == True

False

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df.dropna()
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,51.80,40,40,5.75,scattered clouds
1,1,Faya,SA,18.3851,42.4509,66.20,55,0,10.36,clear sky
2,2,Jamestown,US,42.0970,-79.2353,66.00,55,75,9.22,broken clouds
3,3,Hermanus,ZA,-34.4187,19.2345,66.99,85,100,3.00,overcast clouds
4,4,Brigantine,US,39.4101,-74.3646,59.00,100,90,10.36,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
708,708,Mangrol,IN,21.1167,70.1167,79.95,72,0,13.42,clear sky
709,709,Jinxiang,CN,27.4327,120.6062,62.67,95,100,4.34,light rain
710,710,Abaza,RU,52.6550,90.0928,28.27,90,78,4.23,broken clouds
711,711,Villarrobledo,ES,39.2699,-2.6012,57.99,75,89,5.01,light rain
712,712,Grudziadz,PL,53.4841,18.7537,60.80,41,0,9.22,clear sky

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Puerto Ayora,EC,80.60,scattered clouds,-0.7393,-90.3518,
8,Cidreira,BR,88.30,clear sky,-30.1811,-50.2056,
13,Atuona,PF,80.49,scattered clouds,-9.8000,-139.0333,
15,Rikitea,PF,78.24,light rain,-23.1203,-134.9692,
17,Saint-Philippe,RE,78.80,light rain,-21.3585,55.7679,
21,Carnarvon,AU,77.00,broken clouds,-24.8667,113.6333,
22,Faanui,PF,81.30,overcast clouds,-16.4833,-151.7500,
26,Puerto Escondido,MX,84.20,clear sky,15.8500,-97.0667,
27,Lorengau,PG,80.87,light rain,-2.0226,147.2712,
32,Pisco,PE,75.20,clear sky,-13.7000,-76.2167,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.empty == True
hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Puerto Ayora,EC,80.60,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Cidreira,BR,88.30,clear sky,-30.1811,-50.2056,Hotel Castelo
13,Atuona,PF,80.49,scattered clouds,-9.8000,-139.0333,Villa Enata
15,Rikitea,PF,78.24,light rain,-23.1203,-134.9692,Pension Maro'i
17,Saint-Philippe,RE,78.80,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
693,Sabang,ID,83.71,clear sky,5.8933,95.3214,Hotel Citra
698,Saint-Pierre,RE,78.80,clear sky,-21.3393,55.4781,Lindsey Hôtel
700,Tay Ninh,VN,81.25,broken clouds,11.3000,106.1000,Thanh Tuyền Hotel
704,San Policarpo,PH,78.48,scattered clouds,12.1791,125.5072,JM Lodge
708,Mangrol,IN,79.95,clear sky,21.1167,70.1167,Hotel The Royal Honours

In [15]:
clean_hotel_df = hotel_df
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Puerto Ayora,EC,80.60,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Cidreira,BR,88.30,clear sky,-30.1811,-50.2056,Hotel Castelo
13,Atuona,PF,80.49,scattered clouds,-9.8000,-139.0333,Villa Enata
15,Rikitea,PF,78.24,light rain,-23.1203,-134.9692,Pension Maro'i
17,Saint-Philippe,RE,78.80,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
21,Carnarvon,AU,77.00,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
22,Faanui,PF,81.30,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
26,Puerto Escondido,MX,84.20,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
27,Lorengau,PG,80.87,light rain,-2.0226,147.2712,Lorengau Harbourside Hotel
32,Pisco,PE,75.20,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))